.region_name{
    font-size: 29px;
    font-family: 'FedraSansPro-Medium';
}
.change_region > div{
    display: inline-block;
    padding-right: 20px;
}
.change_region .dropdown-toggle{
    color: #24aae6;
    cursor: pointer;
    text-decoration: underline;
}
.label-box{
    background-color: #e8eced;
    padding: 25px 20px;
}
.label-item {
    background-color: rgb(247, 249, 250);
    box-shadow: 0.572px 2.945px 6.65px 0.35px rgba(15, 32, 50, 0.1);
    padding: 6px;
    border-radius: 30px;
    margin-right: 15px
  }
  