body{
    font-family: 'FedraSansPro-Light';
    background-color: #f7f9fa;
}
li>a {
    color: #116480 !important;
}
.mt-15 {margin-top: 15px}
.mr15 {margin-right: 15px}
.pd0 {padding: 0px}
.pd15 {padding: 15px}
.pdlr15 {padding: 0 15px}
.pdtb10 {padding: 10px 0}
.pdtb15 {padding: 15px 0}
.wh100 {width: 100%}
.box{
  width: 100%;
  display: block
}
.white-bg{
  background:#ffffff;
}
.bg-darkBlue{
  background-color: #0a4a66;
}
.bg-dark{
  background: rgba(0, 0, 0, 0.25);
}
.box_shadow {
  min-height: 150px;
  position: relative;
  background-color: rgb(255, 255, 255);
  box-shadow: 1.145px 5.89px 12.35px 0.65px rgba(15, 32, 50, 0.1);
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

button{
  outline: none !important ;
}

.btn-blue-gradient {
    border: none !important; 
    outline: none !important; 
    color: #fff !important;
    padding: 10px 40px !important;
    background-image: -moz-linear-gradient( 90deg, rgb(36,170,230) 0%, rgb(153,215,243) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(36,170,230) 0%, rgb(153,215,243) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(36,170,230) 0%, rgb(153,215,243) 100%);
    box-shadow: 0px 3px 13px 0px rgba(44, 173, 231, 0.48);
  }

  .btn-blue-gradient:active {
    background-image: -moz-linear-gradient( 90deg, rgb(36,170,230) 50%, rgb(153,215,243) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(36,170,230) 50%, rgb(153,215,243) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(36,170,230) 50%, rgb(153,215,243) 100%);
    box-shadow: 0px 3px 5px 0px rgba(44, 173, 231, 0.48);
  }

  /* bordered transparent button */
  .btn-border{
    padding: 10px 20px;
    border-radius: 30px;
    border: 1px solid rgba(4, 4, 4, 0.1);
    background-color: transparent;
  }

  .btn-border:focus{
    border-color: #999;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .btn-white{
    background: #fff
  }

  /* Filters */

  .fltr-view{
    margin-top: 25px;
  }
  .form_datetime input{
    width: 100%;
  }
  .input-caret{
    position: absolute;
    right: 25px;
    bottom: 15px;
    color: #cccccc;
  }
  .nice-select{
    width: 100%;
    border-radius: 30px;
  }
  .nice-select:after{
    display: none !important
  }
  .filter-clear{
    position: absolute;
    border-width: 2px;
    right: 10px;
    top: -5px;
  }

  /* Sort filters */
  .sort-box{
    padding: 20px 0;
  }
  span.sort-by-text{
    margin-left: 15px;
    color: #979899
  }
  .list-body #accordion{
    height: 500px;
    overflow: auto;
  }
  .list-body .panel-default{
    border-radius: 0px;
    border: 0px;
    background: none;
  }
  .list-body .panel-group .panel-heading+.panel-collapse>.list-group, 
  .list-body .panel-group .panel-heading+.panel-collapse>.panel-body{
    border: 0px;
  }
  .list-body .panel-default>.panel-heading{
    background: none;
  }
  .list-body .checkbox label,
  .list-body .panel-heading h5{
    color: #333;
    font-family: 'FedraSansPro-Medium';
  }
  .list-body table tr td{
    border: none;
    color: #888888;
  }
  .list-body .img-content img {
    width: 30.5%;
    float: left;
    margin: 0 5px;
}

/* table scrollbar style */
.list-body #accordion::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
.list-body .panel-group{
  margin-bottom: 0px;
}
.list-body #accordion::-webkit-scrollbar
{
	width: 3px;
	background-color: #F5F5F5;
}

.list-body #accordion::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #c9c9c9;
}
#map{
  width: 100%;
  height: 600px;
  display: block;
}
/* Order content */
.order-box h5{
  font-family: 'FedraSansPro-Medium';
  font-weight: bold
}
.small-btn{
  padding: 5px 15px !important;
  margin: 0 5px;
}
/* footer */
footer{
  margin-top: 50px;
}
footer .navbar-brand{
  height: auto;
}
footer .navbar-brand img{
  height: 68px;
  width: auto;
}
.footer-nav{
  padding: 19px 0;
}
.footer-nav li a{
  color: #abd0e0 !important;
  padding: 20px 25px;
  font-size: 12px !important;  
}
.footer-nav li a:hover{
  background: none;
  text-decoration: underline
}
.social{
  margin: 0;
  padding: 5px 0;
}
.social li{
  display: inline;
  padding: 5px;
}
.social li i{
  font-size: 14px;
  color: #51869d;
  padding: 5px;
}
.copyright{
  font-size: 12px;
  color: #51869d;
  padding: 10px 0;
  margin: 0;
}